---
import { getCollection } from "astro:content"

import Head from "@/components/Head.astro"
import Layout from "@/components/Layout.astro"
import Tag from "@/components/Tag.astro"

const allPosts = await getCollection("posts")
const tags = [...new Set(allPosts.map(post => post.data?.tags).flat())].filter(
  e => Boolean(e)
)
const pageTitle = "Tag Index"
---

<html>
  <Head
    title="タグ一覧"
    ogTitle="タグ一覧"
    ogDescription=".ごっちの日記のタグ一覧"
  />
  <body>
    <Layout title={pageTitle}>
      <h1 class="mb-2 text-4xl font-extrabold">タグ一覧</h1>
      <div class="my-2">
        {tags.map(tag => <Tag className="mr-1" tag={tag} />)}
      </div>
    </Layout>
  </body>
</html>
