---
import Layout from "@/components/Layout.astro"
import Link from "@/components/global/Link.astro"

const url = new URL(Astro.request.url)
const post_slag = url.pathname.split("/").slice(-1)[0]
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404 Not Found | .ごっちの日記</title>
  </head>
  <body>
    <Layout>
      <div class="flex h-screen items-center justify-center text-center">
        <div>
          <h1 class="mb-2 text-4xl">404: Not Found</h1>
          {
            post_slag.startsWith("202") ? (
              <Link href={`/posts/${post_slag}`} className="underline">
                Go The Post
              </Link>
            ) : (
              <Link href="/" className="underline">
                Go To Home
              </Link>
            )
          }
        </div>
      </div>
    </Layout>
  </body>
</html>
