---
import { getCollection } from "astro:content"

import ArticleCard from "@/components/ArticleCard.astro"
import Bio from "@/components/Bio.astro"
import Head from "@/components/Head.astro"
import Layout from "@/components/Layout.astro"
import TagList from "@/components/TagList.astro"
import Work from "@/components/Work.astro"

const allPosts = await getCollection("posts")
const tags = [...new Set(allPosts.map(post => post.data?.tags).flat())].filter(
  (e): e is string => typeof e === "string",
)
allPosts.reverse()
---

<html>
  <Head title="" ogTitle="" ogDescription=".ごっちの日記の記事一覧" />
  <body>
    <Layout>
      <div class="lg:flex lg:space-x-2">
        <div class="max-w-screen-2xl lg:w-64 lg:flex-grow">
          {
            allPosts.map(post => {
              return <ArticleCard post={post} />
            })
          }
        </div>
        <div class="mb-2 lg:flex-1">
          <Bio />
          <Work />
          <TagList tags={tags} />
        </div>
      </div>
    </Layout>

    <script
      type="text/partytown"
      src=`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.PROD ? "G-WDXGRMPVMC" : "G-4ZQZQZQZQZ"}`
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag(
        "config",
        `${import.meta.env.PROD ? "G-WDXGRMPVMC" : "G-4ZQZQZQZQZ"}`,
      )
    </script>
  </body>
</html>
