---
import ArticleCard from "@/components/ArticleCard.astro"
import Bio from "@/components/Bio.astro"
import Head from "@/components/Head.astro"
import Layout from "@/components/Layout.astro"
import TagList from "@/components/TagList.astro"
const allPosts = await Astro.glob("../pages/posts/*/index.md")
const tags = [
  ...new Set(allPosts.map(post => post.frontmatter.tags).flat()),
].filter(e => Boolean(e))
allPosts.reverse()
---

<html>
  <Head title="" ogTitle="" ogDescription=".ごっちの日記の記事一覧" />
  <body>
    <Layout>
      <div class="lg:flex lg:space-x-2">
        <div class="max-w-screen-2xl lg:flex-grow">
          {
            allPosts.map(post => {
              return <ArticleCard post={post} />
            })
          }
        </div>
        <div class="mb-2 lg:flex-none">
          <Bio />
          <TagList tags={tags} />
        </div>
      </div>
    </Layout>
  </body>
</html>
