---
import Link from "@/components/global/Link.astro"

interface Props {
  tag: string
  className?: string
  withLink?: boolean
  active?: boolean
}

const { tag, className, withLink = true, active = false } = Astro.props
---

<span
  class={`${className} rounded ${
    active ? "bg-emerald-600" : "bg-emerald-800"
  } py-1 px-2 text-sm text-gray-100`}
>
  {
    withLink ? (
      <Link href={`/tags/${tag}`} astro-data-history="push">
        {tag}
      </Link>
    ) : (
      tag
    )
  }
</span>
