---
interface Props {
  tags: string[]
}

import Tag from "./Tag.astro"
const { tags } = Astro.props
---

<div
  class="overflow-auto bg-gray-50 p-5 shadow-lg dark:bg-gray-800 sm:rounded-xl md:max-w-screen-2xl lg:max-w-sm"
>
  {tags.map(tag => <Tag className="float-left mb-2 mr-2" tag={tag} />)}
</div>
