---
import Link from "./global/Link.astro"
---

<div
  id="work"
  class="mb-2 bg-gray-50 p-5 shadow-lg sm:rounded-xl md:max-w-screen-2xl lg:max-w-sm @dark:bg-gray-800"
>
  <div class="mb-2 text-lg">製作物 <i class="ri-macbook-line"></i></div>

  <div class="max-w-fit">
    <div class="flex flex-col space-y-1 pt-3">
      <div>
        <Link
          href="https://zelda1-bingo.vercel.app/"
          targetBlank
        >
          初代ゼルダの伝説ビンゴ<i class="ri-external-link-line"></i>
      </Link>
      </div>
      <div>
        <Link
          href="https://hyrule-selfy-compendium.vercel.app/"
          targetBlank
        >
          自撮りハイラル図鑑<i class="ri-external-link-line"></i>
      </Link>
      </div>
      <div>
        <Link
          href="https://what3idols.vercel.app/"
          targetBlank
        >
          What3Idols<i class="ri-external-link-line"></i>
      </Link>
      </div>
      <div>
        <Link
          href="https://rubygems.org/gems/ika3"
          targetBlank
        >
          Ika3 rubygem<i class="ri-external-link-line"></i>
      </Link>
      </div>
    </div>
  </div>
</div>
