/* CSS Custom Properties Definitions */

@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  > h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  > h2 {
    font-size: 1.5em;
    margin: 0.67em 0;
  }

  > h3 {
    font-size: 1.2em;
    margin: 0.67em 0;
  }

  > p {
    margin: 5px 0;
  }

  a {
    text-decoration: underline;
  }

  ul {
    padding: 0 15px;
    list-style: circle;
  }
}
